////// Text
basefont = 1em;
baseline = 1.5em;
serif-stack = Georgia, Times, "Times New Roman", serif;
sanserif-stack = Verdana, Helvetica, Arial, sanserif;
mono-stack = Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

////// Colours
black = #333;
white = #fff;

// Colour assignments
link = #00f;
link-hover = #33f;
link-active = #f00;
link-visited = #551a8b;
shadow-strength = .2;
shadow = rgba(black, shadow-strength);
shadow-rgb = blend(black, white, shadow-strength);
body-color = white;
page-color = white;
